<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
	xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>University</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{bootstrap/css/bootstrap.min.css}">
<script th:src="@{jquery/jquery-3.6.0.min.js}"></script>
<script th:src="@{bootstrap/js/bootstrap.min.js}"></script>

<style>
.col-md-12 {
	background: #dedede;
}

.box {
	margin: 200px auto;
	width: 180px;
}
</style>
</head>

<body>
	<div class="container">

		<ul class="nav nav-pills">
			<li class="active"><a href="/university/wellcome">Home</a></li>
			<li><a href="/university/students">Students</a></li>
			<li><a href="/university/subjects">Subjects</a></li>
		</ul>

		<h1 class="text-center display-4 font-weight-bold pt-5 text-info">Wellcome university</h1>



	</div>


</body>

</html>